# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-BSD-5-Clause-Nordic
#

config BSD_LIBRARY
	bool
	prompt "Use BSD Socket library for IP/TLS/DTLS (deprecated)"
	select NRF_MODEM_LIB
	help
	  BSD_LIBRARY is deprecated, please use NRF_MODEM_LIB instead.

if BSD_LIBRARY
	comment "BSD_LIBRARY is deprecated, please use NRF_MODEM_LIB instead."
endif

menuconfig NRF_MODEM_LIB
	bool "Enable Modem library"
	imply NRFX_IPC
	imply NET_SOCKETS_OFFLOAD
	imply NET_SOCKETS_POSIX_NAMES
	select NRF_MODEM
	help
	  Use Nordic Modem library.

if NRF_MODEM_LIB

config NRF_MODEM_LIB_SYS_INIT
	bool "Initialize during SYS_INIT"
	default y
	help
	  Initialize the Modem library automatically during the SYS_INIT sequence.
	  Please note that initialization is synchronous and can take up to one
	  minute in case the modem firmware is updated.

config NRF_MODEM_LIB_TRACE_ENABLED
	bool
	prompt "Enable proprietary traces over UART"
	# Modem tracing over UART use the UARTE1 as dedicated peripheral.
	# This enable UARTE1 peripheral and includes nrfx UARTE driver.
	select NRFX_UARTE1

config NRF91_SOCKET_SEND_SPLIT_LARGE_BLOCKS
	bool "Split large blocks passed to send() or sendto()"
	default n
	help
	  Workaround a limitation in the Modem library regarding the return
	  value for send() or sendto() calls larger than the module can handle.
	  It should send the data up to the maximum, and return that as the return value.
	  Instead, it returns error 22.

config NRF91_SOCKET_BLOCK_LIMIT
	int "Maximum size the modem can send"
	default 2048
	help
	  Blocks larger than this value will be split into two or more
	  send() or sendto() calls. This may not work for certain kinds
	  of sockets or certain flag parameter values.

config NRF_MODEM_LIB_SENDMSG_BUF_SIZE
	int "Size of the sendmsg intermediate buffer"
	default 128
	help
	  Size of an intermediate buffer used by `sendmsg` to repack data and
	  therefore limit the number of `sendto` calls. The buffer is created
	  in a static memory, so it does not impact stack/heap usage. In case
	  the repacked message would not fit into the buffer, `sendmsg` sends
	  each message part separately.

if BSD_LIBRARY

comment "BSD_LIBRARY settings (Deprecated)."

config BSD_LIBRARY_TRACE_ENABLED
	bool
	prompt "BSD_LIB: Enable proprietary traces over UART (deprecated)"
	select NRF_MODEM_LIB_TRACE_ENABLED
	help
	  BSD_LIBRARY_TRACE_ENABLED is deprecated, please use NRF_MODEM_LIB_TRACE_ENABLED instead.

if BSD_LIBRARY_TRACE_ENABLED
	comment	"BSD_LIBRARY_TRACE_ENABLED is deprecated, please use NRF_MODEM_LIB_TRACE_ENABLED instead."
endif

endif # BSD_LIBRARY

endif # NRF_MODEM_LIB
