config SPU_SETUP 
	bool "SPU Setup"
	default n #TODO: Smart way of enablign spu based on properties
	depends on HAS_HW_NRF_SPU
	depends on !IS_SPU_SETUP
	help
	  Enable SPU configuration for nRF91

config PARTITION_MANAGER_RESERVED_SPACE_SPU_SETUP
	hex "Flash space reserved for bootloader."
	default 0x4000
	help
	  Flash space set aside for the SPU configuration. Note, the name
	  of this configuration needs to match the requirements set by the
	  script 'partition_manager.py'. See pm.yaml.
